.footer-container {
  width: 100%;
  height: 100%;
  background: #110A29;
  color: white;
  font-size: 14px;
  border: 1px solid #939FB9;
}
.footer-section-one{
  display: flex;
}
.footer-section-one-left{
  width: 50%;
  height: 100%;
  border-right: 1px solid #939FB9;
}
.footer-section-one-right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #939FB9;
}

.footer-section-one-right img {
  width: 180px;
  height: 180px;
  margin-top: 10px;
}
