.header-bar {
  width: 100%;
  height: 38px;
  background-color: #5834cc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 11px;
}

.header-bar-link {
  color: white;
  &:hover {
    cursor: pointer;
    color: #7d69bf;
  }
}
