.menu-modal{
  width: 400px;
  height: 120px;
  border: none;
  // border-radius: 20px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.317);
  position: fixed;
  top: 32%;
  left: 15%;
  z-index: -2;
  transform: translate(-50%, -50%) scale(1);
  transition:  300ms ease-in-out;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0rem 4rem 0rem;
  opacity: 0;
  padding-left: 50px;
}
.active-menu-modal{
  opacity: 1;
  z-index: 10;
}

.menu-background{
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition:  300ms ease-in-out;
  pointer-events: none;
}
.active-menu-background{
  opacity: 1;
  pointer-events: all;
}